APP_ENV="local"
BASE_URL="http://localhost:7000"
PORT="7000"
DB_URL="jdbc:postgresql://localhost:5433/minurl"
DB_USER="minurl"
DB_PASSWORD="minurl"
LOG_DIR="logs"
BASIC_AUTH_USERS="admin:$2a$10$7EqJtq98hPqEX7fNZaFWoO3Z7N/1ob7Hu0f1D/Gg7OfG4yJ/9F9Wy"